{% extends "base.html" %}
{% block title %}Manage Requests | Admin{% endblock %}

{% block content %}
<h2 class="fw-bold mb-3">All Blood Requests</h2>

<div class="card shadow-sm border-0 rounded-4">
  <div class="card-body">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>Request ID</th>
          <th>Patient</th>
          <th>Blood Group</th>
          <th>City</th>
          <th>Status</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for r in requests_list %}
        <tr>
          <td>#{{ r.request_id }}</td>
          <td>{{ r.patient_name }}</td>
          <td><span class="badge bg-danger">{{ r.blood_group_needed }}</span></td>
          <td>{{ r.city }}</td>
          <td>
            {% if r.status == "Pending" %}
              <span class="badge bg-warning text-dark">Pending</span>
            {% elif r.status == "Approved" %}
              <span class="badge bg-success">Approved</span>
            {% elif r.status == "Waiting" %}
              <span class="badge bg-secondary">Waiting</span>
            {% else %}
              <span class="badge bg-primary">{{ r.status }}</span>
            {% endif %}
          </td>
          <td>{{ r.requested_at.strftime("%d-%m-%Y") }}</td>
          <td>
            <a href="{{ url_for('admin_request_details', request_id=r.request_id) }}"
               class="btn btn-sm btn-dark">
              View
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
