{% extends "base.html" %}
{% block title %}Home | BloodCare+{% endblock %}

{% block content %}
<div class="text-center p-5 bg-light rounded-4 shadow-sm">
  <h1 class="fw-bold">Blood Donation & Request Management System</h1>
  <p class="text-muted mt-3">
    A smart platform with donor matching, volunteer tracking, and real-time availability dashboard.
  </p>
  <p class="mt-2 fw-semibold text-secondary">
    Developed by K. Chanikya
  </p>

  <div class="mt-4">
    <a href="#" class="btn btn-danger px-4">Get Started</a>
  </div>
</div>

<p class="mt-4 text-muted" style="font-size:14px;">
  © 2026 BloodCare+ | Developed by K. Chanikya
</p>
{% endblock %}
